<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" text="Zurück"></ion-back-button>
    </ion-buttons>
    <ion-title>Informaionen über den Planeten</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-textarea>
    <p>
      Name: Glados I <br><br>

      Wüstenplanet. Steppe. Wenig grüne Vegetation (hauptsächlich Oasen). Sehr wenig Sauerstoff in Atmosphäre. Nicht
      genug für Mensch zum überleben. Hauptsächlich Stickstoff und Argon. Zum Teil sehr hügelige Landschaft, aber auch
      mit vielen freien Flächen. <br><br>

      Ein Tag dauert auf diesem Planeten 80 Stunden, wobei ca. 50 Stunden die Sonne scheint.
      Die Sonne geht nach Landung nach ca. 40 Stunden unter. <br><br>

      Außerdem ist eine Forschungsstation der Menschen in der Nähe vermerkt. Der letzte Kontakt hat mit dieser hat vor 3
      Monaten stattgefunden. Kontaktberichte mit der Station sind in 2-4 Monatsrythmus abgelegt. Diese sind aber
      verschlüsselt und können nicht gelesen werden.
    </p>
  </ion-textarea>

</ion-content>
