.default {
  --background: #fff url('../../assets/img/map_default.png') no-repeat center center / cover;

}

.science {
  --background: #fff url('../../assets/img/map_science.png') no-repeat center center / cover;

}

.shuttle {
  --background: #fff url('../../assets/img/map_shuttle.png') no-repeat center center / cover;

}

.complete {
  --background: #fff url('../../assets/img/map_complete.png') no-repeat center center / cover;

}
