<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" text="Zurück"></ion-back-button>
    </ion-buttons>
    <ion-title>Karte der Ionic III</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../assets/img/space_shuttle_map.png"/>
  <ion-list>
    <ion-item>
      <ion-label>1: Kommandobrücke</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>2A: Lagerraum A</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>3B: Lagerraum B</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>4C: Lagerraum C</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>5D: Lagerraum D</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>6: Maschinenraum</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>7: Manschaftskabienen</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>8: Kapitänskabine	</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>9: Küche</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
