<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" text="Zurück"></ion-back-button>
    </ion-buttons>
    <ion-title>Technischer Eintrag</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <p>
    Unser Shuttle ist heute auf dem Rückweg liegen geblieben. Hätten wir nur ein paar Iridiumkristalle mitgenommen oder
    vorher einfach den Antrieb neu bestückt. Jetzt ist vermutlich der verdammte Antriebskondensator verreckt. Und wir
    haben keinen mehr auf Lager. Mit der nächsten Versorgungslieferung müssen wir wohl einen neuen ordern. Bis dahin
    muss es auch so gehen.
  </p>
</ion-content>
