<ion-header>
    <ion-toolbar>
        <ion-title>
            Ionic PDA
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item (click)="goToSpaceShuttleMap()">
            <ion-avatar slot="start">
                <img src="../../assets/img/space_shuttle_map.png">
            </ion-avatar>
            <ion-label>Karte Space Shuttle</ion-label>
            <ion-icon name="arrow-forward" slot="end"></ion-icon>
        </ion-item>


        <ion-item *ngIf="weapon_spint">
            <ion-avatar slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
            <ion-label>Waffenspint</ion-label>
            <ion-icon name="arrow-forward" slot="end"></ion-icon>
        </ion-item>
    </ion-list>
    <ion-button expand="block" fill="solid" (click)="insertCode()">Zugangscode eingeben</ion-button>
</ion-content>
