<ion-header>
    <ion-toolbar>
        <ion-title>
            Ionic PDA
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngFor="let code of codes | keyvalue">
        <ion-item [class.disabled]="code.value.disabled" *ngIf="code.value.unlocked" (click)="goToPage(code.value)">
            <ion-avatar slot="start">
                <img [src]="code.value.imageUrl">
            </ion-avatar>
            <ion-label>{{code.value.label}}</ion-label>
            <ion-icon name="arrow-forward" slot="end"></ion-icon>
        </ion-item>
    </ion-list>
    <ion-button expand="block" fill="solid" (click)="insertCode()">Zugangscode eingeben</ion-button>
</ion-content>
