<ion-header>
    <ion-toolbar>
        <ion-title>
            Ionic PDA
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item (click)="goToSpaceShuttleMap()">
            <ion-avatar slot="start">
                <img src="../../assets/img/space_shuttle_map.png">
            </ion-avatar>
            <ion-label>Karte Space Shuttle</ion-label>
            <ion-icon name="arrow-forward" slot="end"></ion-icon>
        </ion-item>
        <ion-item [class.disabled]="glados.weapon_spint_locked" *ngIf="weapon_spint" (click)="goToWeaponLocker()">
            <ion-avatar slot="start">
                <img src="../../assets/img/weapon-locker.png">
            </ion-avatar>
            <ion-label>Mit Waffenschrank verbinden.</ion-label>
            <ion-icon name="arrow-forward" slot="end"></ion-icon>
        </ion-item>
    </ion-list>
    <ion-button expand="block" fill="solid" (click)="insertCode()">Zugangscode eingeben</ion-button>
</ion-content>
